<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  lang="en">
<head th:replace="/fragments/head::head('noticia lista mod')">

</head>
<body>
 
     <!-- menu -->


     <header class="bg-custom-color">
         <nav th:replace="/fragments/nav.html::nav"> </nav>
     </header>
    <!-- noticia formulario -->
  
    

    
      <section class=" container-fluid ">

        <div class="row mt-5">
            <div >
                <table class="table table-light text-center">
                    <thead>
                        <tr >
                            <th class="bg-primary text-bg-primary" scope="col">id</th>
                            <th class="bg-primary text-bg-primary" scope="col">Titulo </th>
                            <th class="bg-primary text-bg-primary" scope="col">Cuerpo</th>
                            <th class="bg-primary text-bg-primary" scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                            <th class="bg-primary text-bg-primary" scope="col">Ver Noticia</th>
                        </tr>
                    </thead>

<!--                    alerta de exito al modificar-->

                    <div class="alert alert-success text-center alert-dismissible fade show" th:if="${exito!=null && !exito.isEmpty()}">
                        <p th:text="${exito}"></p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

<!--                    /////-->

                    <tbody th:each="noticia: ${lista_noticias}">
                        <tr>

                            <th scope="row" th:text="${noticia.id}"></th>
                            <td th:text="${noticia.titulo}"></td>
                            <td th:text="${noticia.cuerpo}"></td>
                            <td sec:authorize="hasRole('ADMIN')">
<!--                                 para el quiera saber esto tambien funciona-->
<!--                                <a class="btn btn-primary" th:href="@{/noticia/modificar/__${noticia.id}__}">modificar a</a>-->
                                <a th:href="@{/noticia/modificar/__${noticia.id}__}"> <button class="btn btn-primary"> Modificar</button></a>

                            </td>
                            <td>
                                <a th:href="@{/noticia/focus/__${noticia.id}__}"> <button class="btn btn-primary"> Ver Noticia</button></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
         

              
                
          
        
        


      </section>
    
  

      <!-- jss -->

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>